<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="Readers">
            <directory>tests/Reader</directory>
        </testsuite>
        <testsuite name="Mapper">
            <directory>tests/Mapper</directory>
        </testsuite>
        <testsuite name="Importer">
            <directory>tests/Importer</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
